[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
appdirs = "*"
python-magic = "*"
ffmpeg-python = "*"
pysrt = "*"
pillow = "*"
iso639 = "*"
langdetect = "*"
imagehash = "*"
openai = "*"
rembg = "*"
# salesforce-lavis = "*"
openai-whisper = "*"

[dev-packages]
ipdb = "*"
mypy = "*"
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
