[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
imagehash = "*"
mimetypes-magic = "*"
opencv-python = "*"
pillow-heif = "*"
python-magic = "*"

[dev-packages]
black = "*"
build = "*"
flake8 = "*"
ipdb = "*"
ipython = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pyupgrade = "*"
types-python-dateutil = "*"

[requires]
python_version = "3.11"
